#grecia {
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: 5fr 8fr;
    background-color: #0D5EAF;
}
#grecia-canton {
    grid-row: 1 / 6;
    grid-column: 1;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 2fr;
    background-color: #0D5EAF;
}
#grecia-cruz-ver {
    background-color: white;
    grid-column: 2;
    grid-row: 1 / 4;
}
#grecia-cruz-hor {
    background-color: white;
    grid-column: 1 / 4;
    grid-row: 2;
}
.franja-blanca {
    background-color: white;
}
#grecia-franja-1 {
    grid-row: 2;
    grid-column: 2;
}
#grecia-franja-2 {
    grid-row: 4;
    grid-column: 2;
}
#grecia-franja-3 {
    grid-row: 6;
    grid-column: 1 / 3;
}
#grecia-franja-4 {
    grid-row: 8;
    grid-column: 1 / 3;
}