#inglaterra{
    display: grid;
    grid-template-columns: 4fr  1fr 4fr;
    grid-template-rows: 2fr  1fr 2fr;
    background-color: white;
}
#inglaterra-hor{
    background-color:red;
    grid-row-start:2;
    grid-row-end:3;
    grid-column-start:1;
    grid-column-end:4; 
}
#inglaterra-ver{
    background-color:red;
    grid-row-start:1;
    grid-row-end:4;
    grid-column-start:2;
    grid-column-end:3;
}