
.contenedor{
    display: grid;
    grid-auto-rows:3fr 1fr 4fr;
}
a{
    display: grid;
}

.menu{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;  
}

.cuadritos{
    grid-template-columns: repeat(4,1fr);
    display: grid;
    justify-items: center;
    align-items: center;
    gap:10px;
}
.cuadro{
    border-radius: 1%;
    border: 2px solid;
    width:100%;
    aspect-ratio:19/10;
}
#Mexico{
   display: grid;
   grid-template-columns: repeat(3 ,1fr);
}
#cuadro3{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    background-color: white;
}

#linea1 ,#linea2 ,#espana1 ,#espana2,#espana3 {
    background-color:red;
}
#linea1{
    grid-row-start:5;
    grid-row-end:7;
    grid-column-start:1;
    grid-column-end:11; 
  
}
#linea2{
    grid-row-start:1;
    grid-row-end:11;
    grid-column-start:7;
    grid-column-end:7;
}
#cuadro2{
     grid-template-rows: 1fr 2fr 1fr;
     display: grid;
}
#espana2{
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: orange;
}
#cuadro2 img{
    width:70%;
    aspect-ratio:1/1;
}
#mexico1{
    background-color: rgb(0, 104, 71);
}
#mexico2 img{
    width:70%;
    aspect-ratio:1/1
}
#mexico2{
    display: grid;
    background-color: white;
}
#mexico3{
    background-color: red;
}
