body {
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.banderas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
}
.bandera{
    border: 1px solid #ddd;
    width:100%;
    aspect-ratio:19/10;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
}